*{
     box-sizing:border-box;
}

body{
    background-image: url('https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNub3d8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    margin: 0;
    display: flex: ;
    flex-direction:column;
    align-items:center;
    justify-content:center;


}
.h1{
    font-size: 4rem;
    
}
.countdowncontainer{
    display: flex;


}